<html><body> 
	
	<p>title {font-family: Calibri; font-size: 22px; font-color: #0865de; align: center;}</p><p>h {font-family: Calibri; font-size: 20px; font-color: #94a826; align: center;}</p><p>p { font-family: Calibri; font-size: 16px; font-color= #94a826;}</p></body></html>